.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 320px) {
  .cover__link {
    gap: 16px;
  }
}

.cover__link::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s ease;
}

.cover__link:hover::after {
  opacity: .8;
}
