.places {
  margin: 0 auto;
  max-width: calc(100% - 296px);
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin-bottom: 91px;
  }
}

@media screen and (max-width: 420px) {
  .places {
    max-width: 100%;
    margin-bottom: 66px;
  }
}
