.cover__subtitle {
  z-index: 3;
  margin: 0;
  width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 665px) {
  .cover__subtitle{
    max-width: 360px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 470px) {
  .cover__subtitle{
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
