.cover {
  max-width: 1184px;
  margin: 0 auto;
  min-height: 740px;
  background: center / cover no-repeat url('../../images/cover/background-min.jpg');
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    min-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
