.cover {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  background: center / cover no-repeat url('../../images/cover/background-min.jpg');
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 740px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover{
    height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    height: 200px;
  }
}
