.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}

@media screen and (max-width: 1100px) {
  .footer {
    max-width: calc(100% - 160px);
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 665px) {
  .footer{
    padding-top: 75px;
  }
}

@media screen and (max-width: 470px) {
  .footer{
    flex-direction: column;
  }
}
