.footer {
  max-width: calc(100% - 112px);
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 85px;
  }
}

@media screen and (max-width: 420px) {
  .footer{
    max-width: calc(100% - 32px);
    flex-direction: column;
    padding-top: 65px;
    align-items: flex-start;
    gap: 48px;
  }
}
